doctype html
html
  head
    title= title

  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a(href="/").w3-bar-item.w3-button Home
      each result in results
        a(href=result.url) #{result.title}
        div #{result.author}

